
[run]
source = app
omit = 
    */tests/*
    */migrations/*
    */__pycache__/*
    */venv/*
    */virtualenv/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
